.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0; }

.leftColumn {
  width: calc(100%/3 * 2 - 50px); }

.topBlock h2 {
  font-size: 2em;
  font-weight: 100;
  color: #666;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf; }

.topBlock p {
  font-size: .75em;
  font-family: Verdana;
  color: #666;
  margin: 15px 0; }

.bottomBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  width: calc(50% - 40px); }
  .card h3 {
    font-size: 1.25em;
    font-weight: 100;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 10px; }
  .card p {
    font-size: .75em;
    font-family: Verdana;
    color: #666;
    margin: 10px 0; }
  .card a {
    font-size: .75em;
    font-weight: 600;
    color: #ff9900;
    font-family: Verdana;
    float: right; }

.card__imageHolder {
  position: relative;
  width: 270px;
  height: 120px;
  background: #666; }
  .card__imageHolder img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 120px; }

.rightColumn {
  width: calc(100%/3); }

.cardMini {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 15px; }
  .cardMini h4 {
    font-size: .75em;
    font-family: Verdana;
    color: #666;
    padding-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 5px; }
  .cardMini p {
    font-size: .75em;
    font-family: Verdana;
    color: #666;
    line-height: 1rem; }

.cardMini__imageHolder {
  position: relative;
  min-width: 100px;
  height: 75px;
  background: #666;
  margin-right: 10px; }
  .cardMini__imageHolder img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 75px; }
